Options -Indexes
Options +FollowSymLinks

ErrorDocument 404 index.php

DirectoryIndex index.php

<FilesMatch "\.((class|tpl)\.php|json)$">
  Order allow,deny
</FilesMatch>

<IfModule mod_rewrite.c>
  RewriteEngine on

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !=/favicon.ico

  RewriteRule ^(.*)$ index.php [L]
</IfModule>